.not-found-container{
    display: flex;
    background-color: white;
    z-index: 8;
}
.Error404{
    width: 50%;
    height: auto;
}
.img-error-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
}