:root {
  --primary-blue: #087DD1;
  --secondary-blue: #003264;
  --text-padding: 20px 10px;
  --img-padding: 0px 5px;
  --img-width: auto;
  --button-padding: 10px 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: var(--primary-blue);
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
}

.primary-button {
  padding: var(--button-padding);
  margin: 0px;
  background-color: var(--secondary-blue);
  outline: none;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
.primary-button:hover{
  opacity: 0.9;
}

.lan-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px;
  width: 150px;
  height: 150px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 16px;
  width: 390px;
  background-color: var(--secondary-blue);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5rem;
  z-index: 1;
}

.img-trophy-1,
.img-trophy-2 {
  position: relative;
  margin: 0;
  height: 180px;
  width: var(--img-width);
}

.img-trophy-1 {
  padding-right: 130px;
}

.img-trophy-2 {
  padding-left: 145px;
}

.about-text {
  padding: var(--text-padding);
  margin: 5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
  width: 75%;
}

.img-footer {
  padding-top: 180px;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  width: 35vh;
  height: 100vh;
}

.menu-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-navmenu {
  width: auto;
  height: 150px;
}

.title-navmenu {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 23px;
  width: 40vh;
  padding-right: 10px;
}

.find-text{
  color: white;
  font-size: 19px;
  text-align: center;
  font-weight: 500;
}
.link-home,
.link-table,
.link-players,
.link-teams {
  background-color: var(--secondary-blue);
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  border-radius: 6px;
  padding: 12px;
}

.link-home:hover,
.link-table:hover,
.link-players:hover,
.links-players:hover,
.link-teams:hover {
  opacity: 0.8; 
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  width: 30vh;
  height: 45vh;
}

.footer-general {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  font-style: italic;
}

.column-right {
  background-color: var(--secondary-blue);
  width: 100vh;
  height: 100vh;
}

.img-container {
  display: grid;
  grid-template-columns: repeat(3, 93px);
  grid-gap: 0;
  width: 100vh;
  height: 100vh;
}

.trofeo-img {
  width: auto;
  height: 150px;
}

.img-container img {
  padding: var(--img-padding);
}

.nacional-img,
.santafe-img,
.caldas-img {
  width: 75px;
}

.pasto-img,
.medellin-img,
.cali-img,
.tolima-img {
  width: 100px;
}


.table-title {
  color: white;
  font-weight: 600;
}
.header-teams{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo-teams{
  padding: 10px;
  margin-right: 10px; 
  border-radius: 10%;
  width: 70px; 
  height: auto;
}
.header-teams-title{
  color: white;
  font-weight: 700;
  font-size: 25px;
}
.container-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center; }

.teams-list ol{
  list-style-type: decimal; 
  padding-left: 0; 
}
.items-list-teams {
  display: flex; 
  align-items: center;
  margin-bottom: 10px;
  background-color: var(--secondary-blue); 
  border-radius: 10px;
  width: 100%;
  color: white;
}

.items-list-teams img {
  margin-right: 10px; 
  border-radius: 40%; 
}
.link-navmenu-table{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 800;
  background-color: var(--secondary-blue);
}
.interesting-facts-container{
  text-align: justify;
}
.interesting-facts-title{
  color: white;
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
}
.interesting-facts-list{
  padding-right: 20px;
  padding-left: 10px;
  margin-bottom: 10px;
  color: black;
  font-weight: 450;
  width: 100%;
  list-style-type:circle;
}
.interesting-facts-list li{
  margin-bottom: 30px;
}
.payers-links-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links-players{
  background-color: var(--secondary-blue);
  color: white;
  font-size: 18px;
  border-radius: 6px;
  padding: 12px;
  font-weight: 500;
}